<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Media Budgie Budgeting Tool</title>

    {% include 'html_dependencies.html' %}

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
            <a class="logo" href="/" title="logo"><img class= "logo" src="../static/img/Media_Budgie_Logo.jpg" /></a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar_menu" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar_menu">
            <ul class="navbar-nav ml-auto navbar-right">
                <li><a href="{{url_for('central_budget.show_active')}}" class="nav-link">Active Central Budgets</a></li>
            </ul>

            <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
            Users
            <span class="caret"></span>
            </button>
                {% if session['email'] %}
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <li><a href="{{ url_for('users.logout_user')}}">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                        <li><a href="{{ url_for('users.login_user')}}">Login</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

</nav>

<div class="content container">
    {% block content %}
    {% endblock %}
</div>
</body>